<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/home.css"/>
    </head>
    <body>
        <div><a href="/">Home</a> | <a href="contact">Contact</a> | <a href="projects">Projects</a> </div>
        <h1>home</h1>
        <div class="frame"><img src="~/images/profpic.jpg"></div>
        <div class="info">
            <h3>Sam Zoeller</h3>
            <p>Hi! My name is Sam. I'm 21 years old. I live in Chicago now, although I'm originally from Denver. I go to school at the University of Chicago. My favorite color is purple, and my favorite animal is a tiger. Take a look at my projects, and feel free to shoot me a message!</p>
        </div>
    </body>
</html>