<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/projects.css"/>
    </head>
    <body>
        <div><a href="/">Home</a> | <a href="contact">Contact</a> | <a href="projects">Projects</a> </div>
        <h1>projects</h1>
        <div class="project">
            <div class="frame"><img src="~/images/stublogo.png"></div>
            <div class="info">
                <h3>Stubhub Clone</h3>
                <p>This project was built using Python and Django, with all of the data pulled from the SeatGeek API. I, along with two other developers, built it in a week.</p>
            </div>
        </div>
        <div class="project">
            <div class="frame"><img src="~/images/pinlogo.png"></div>
            <div class="info">
                <h3>Pinterest Clone</h3>
                <p>This project was built using MEAN. My favorite part of working on this project was being able to witness first hand just how powerful Angular 2 is.</p>
            </div>
        </div>
        <div class="project">
            <div class="frame"><img src="~/images/unicorn.png"></div>
            <div class="info">
                <h3>Multi Billion Dollar App</h3>
                <p>This project will be built using C#. It will be brilliant, flawless, and bid on by every major tech company in the world before being purchased for billions of dollars.</p>
            </div>
        </div>
    </body>
</html>